@import "../../Sass/utilities/sr";

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  .anchor {
    font-weight: bold;
    color: #2c3e50;
  }

  .logo {
    max-width: 100%;
    width: 200px;

    &Link {
      display: flex;
      align-items: center;
    }
  }

  .srOnly {
    @extend %screenReader;
  }

  .item {
    text-decoration: none;
    margin-right: 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
